<% if avatar.present? %>
  <hr>
  <h2>Current Avatar</h2>
  <ul>
    <li><strong>Name:</strong> <%= avatar.name %></li>
    <li><strong>Gender:</strong> <%= avatar.gender %></li>
    <li><strong>Class:</strong> <%= avatar.klass %></li>
    <li><strong>Traits:</strong> <%= Array(avatar.traits).join(", ") %></li>
    <li><strong>Status:</strong> <%= avatar.status.titleize %></li>
  </ul>
<% end %>
